body{
    margin:auto;
    text-align: center;
}

#standard{
    width:1200px;
    height:675px;
    margin:auto;
    text-align: center;
    position:relative;
    overflow: hidden;
}


#backgroundcvs{
    width:1200px;
    height:675px;
}

#screen-filter{
    position:absolute;
    inset:0;
    top:0;
    left:0;
    transform: translate(0%, 0%);
    background-color: black;
    z-index: 9;
    opacity:0.5;
}

#characvs{
    position: absolute;
    top: 70%; 
    left: 50%;

    width:300px;
    height:300px;
    
    transform: translate(-50%, -50%);
    z-index: 10;
    will-change: transform, opacity, top;
}

.characvs_ani{
    animation: slideIn 2s cubic-bezier(0.28, 0.75, 0.84, -0.08) forwards;
}
 
@keyframes slideIn {
  0% {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 0); 
    opacity: 0; 
  }
  10%{
    opacity: 1;
  }
  100% {
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0); 
    opacity: 1;
  }
}

#time-text{
    position:absolute;
    margin:30px;
    width:150px;
    height:150px;
    top: 0; 
    right: 0;
    transform: none;
    font-size:100px;
    z-index: 1;
}

#time-text::before{
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    z-index: -1;
}

#time-area{
    position:absolute;
    margin:10px;
    width:150px;
    height:150px;
    top: 20px; 
    right: 10px;
    transform: none;
}

#time-area::before{
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}

#text-area{
    width:800px;
    height:150px;
    background-color: white;
    opacity:70%;

    border-radius: 30px;

    position: absolute;
    top:5%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 1;
}

#text{
    margin:30px;
    font-size: 30px;
}

#item-area{
    width:800px;
    height:100px;
    
    margin:auto;
    padding:10px;

    position: absolute;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

#item-area::before{
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 30px;
    opacity: 0.7;
    z-index: 0;
}

.toysPNG{
    width:100px;
    height:100px;
    opacity:100%;
    z-index: 1;
}


#box-area{
    width:500px;

    position: absolute;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2;
}

.box_webp{
    margin-top:-70px;
    margin-right:-35px;
    margin-left:-35px;
    width:200px;
    height:200px;
    padding:0;
}


#true-area{
    width:500px;
    height:100px;

    position: absolute;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 4;
}

.true-area-div{
    margin-top:-10px;
    margin-bottom:40px;
    margin-right:15px;
    margin-left:15px;
    width:100px;
    height:100px;
    background-color: black;
    opacity:0;
}

#title{
    position: absolute;

    color:white;
    font-size: 50px;

    width:1000px;
    top: 30%;;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:20;
}

#btn-area{
    position: absolute;
    display: flex;

    top: 70%;;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:20;
}

.btn{
    width:250px;
    height:200px;
    margin:30px;
    border: none;
    background: none; 
    padding: 0;
    cursor: pointer;
    border-radius: 30px;
}

.btn-img{
    width:250px;
    height:200px;
}

#about-area{
    display:none;
    text-align: left;
    padding-left:50px;
    padding-right:50px;
    position: absolute;
    width:500px;
    height:600px;

    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#about-area::before{
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 30px;
    opacity: 0.7;
    z-index: -1;
}

#about-text-area{
    z-index:30;
}

h2{
    margin-bottom:0;
    font-size:30px;
}

h3{
    margin:0;
}

.about-text{
    margin-top: 0;
    font-size:20px;
}


#return{
    display:none;
    position:absolute;
    top: 80%;;
    left: 120%;
    transform: translate(-50%, -50%);
}


.toggle_area{
    position: absolute;
    top: 5%;
    right: 10%;
    z-index:20;
}
.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 120px;
  height: 35px;
  background: #ca3c3c;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle_label:after {
  content: "日本語";
  position: absolute;
  width: 70px;
  height: 35px;
  border-radius: 40px;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.toggle_input:checked + .toggle_label {
  background-color: #4b50d8;
}

.toggle_input:checked + .toggle_label:after {
  left: 60px;
  content:"English";
}

.toggle_button {
  position: relative;
  width: 75px;
  height: 35px;
  margin: auto;
}